body {
    text-align: center;
    background-color: #a4f6e5;
}

div {
    background-color: grey;
    margin-bottom: 20px;
}

.cube {
    width:100px;
    height:100px;
}

.circle {
    width:100px;
    height:100px;
    border-radius: 50%;
}

.yellow {
    background-color: gold;
}

.lime {
    background-color: lime;
}

#romb {
    transform: rotate(45deg);
}