.btn-box {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.btn {
    padding: 20px 60px;
    margin: 0 35px;
    background-color: aquamarine;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:first-child:hover {
    background: linear-gradient(50deg, black, black, black, rgb(252, 126, 126), red, rgb(252, 126, 126), black, black, black );
    background-size: 400%;
}

.btn:last-child:hover {
    background: linear-gradient(90deg, #1a5c5c, #8fb769, #da7d74, #1a5c5c);
    background-size: 400%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 100px;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
    background-color: aqua;
    background: rgba( 0, 255, 198, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.close {
    position: absolute;
    top: 35px;
    right: 35px;
    border: none;
    background-color: transparent;
    font-size: 50px;
    cursor: pointer;

}

.hidden {
    display: none;
}

@keyframes glow {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 100%;
    }

}

.btn:hover {
    z-index: 1;
    animation: glow 1s linear infinite;
}

